@import '../../common/basic';

.x-drawer-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .x-drawer-mask {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: opacity 0.3s;
        position: absolute;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
    pointer-events: none;
}

.x-drawer-view {
    width: px2rem(400);
    background-color: white;
    height: 100vh;
    overflow: auto;
    position: absolute;
    transition: transform 0.3s;
    -webkit-transition: -webkit-transform 0.3s;
}

.x-drawer-view-left {
    @include prefix(transform, translateX(px2rem(-400)));
}

.x-drawer-view-right {
    right: 0;
    @include prefix(transform, translateX(px2rem(400)))
}

.x-drawer-active {
    pointer-events: auto;
    .x-drawer-view-left, .x-drawer-view-right {
        @include prefix(transform, translateX(0));
    }
    .x-drawer-mask {
        opacity: 1;
    }
}