@import '../../common/basic.scss';

%input-css {
    background-color: white;
    text-align: center;
    width: 100%;
    display: inline-block;
    border: 0px;
    @include prefix(border-radius, px2rem(10));
}

.x-counter-container {
    border: 1px solid;
    display: inline-block;
    height: px2rem(60);
    position: relative;
    width: px2rem(220);
    @include prefix(border-radius, px2rem(10));
    button {
        width: px2rem(70);
        height: px2rem(60);
        line-height: px2rem(60);
        text-align: center;
        border: 0px;
        @include font-dpr(16px);
        display: inline-block;
        position: absolute;
        border-style: solid;
    }
    .x-counter-left {
        left: 0;
        border-right-width: 1px;
        @include prefix(border-top-left-radius, px2rem(8));
        @include prefix(border-bottom-left-radius, px2rem(8));
    }
    .x-counter-right {
        right: 0;
        border-left-width: 1px;
        @include prefix(border-top-right-radius, px2rem(8));
        @include prefix(border-bottom-right-radius, px2rem(8));
    }
    .x-counter-disabled-box {
        @extend %input-css;
        line-height: px2rem(60);
    }
    .x-counter-input-box {
        @extend %input-css;
        height: 100%;
    }
}